/* .css-pwngrv-MuiPaper-root-MuiCard-root {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
    margin: 2% 10%;
    margin-top: 4%;
  }

  .css-pwngrv-MuiPaper-root-MuiCard-root {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding-left: 5%;
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 16px;
    display: flex;
    flex-direction: row;
  }
 
  .Second-Box{
    margin-right: 4%;
    font-size: large;
  }
 
  .User-Info{
    font-family: times, Times New Roman, times-roman, georgia, serif;
color: #444;
font-size: 35px;
line-height: 44px;
letter-spacing: -2px;
font-weight: bold;
text-align: center;
width: max-content;
  }


.MuiButtonBase-root{
    padding-top: 411px;
    padding-left: 282px;
}
.css-kpm0tx-MuiButtonBase-root-MuiButton-root{
    margin-left: 280px;
}
.MuiButtonBase-root {
    margin-left: 280px;
}
.MuiButton-root {
    margin-left: 280px;
}
.MuiButton-text {
    margin-left: 280px;
}
.MuiButton-textPrimary{
    margin-left: 280px;
} */
