
.cards-style{
    height: 100px;
    width: 300px;
    background-color: aquamarine;
    margin-left: 60%;
    margin-top: 30%;
  }

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    margin: 20px 20px;
    
}  

.MuiTableHead-root{
    background-color: gray;
}
// .MuiTextField-root{
//     height: auto;
//     width: auto;
// }
.MuiSelect-select{
    margin: 20px 20px;
}

.content{
    display: flex;
    flex-direction: row;
}
